*{
    margin:0;
    padding:0;

}
body{
    
    width:1250px;
    
    
    background-image: linear-gradient(rgba(7, 7, 7, 0.75),rgba(8, 8, 8, 0.75)),url(groundpic/tennis.jpg);
    background-size:cover;
    
    background-repeat: no-repeat;
    
    background-position: center;
    
    
}
.item{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 150px;
    padding: 80px 80px;
    grid-row-gap: 30px;
    color:white;
    font-size: 15x;
}
.img{
    width:200px;
    height:60vh;
    cursor: pointer;
    transition: 0.5s;
}
.item img:hover{
    transform: scale(1.04);
    
}
.nav{
    width: 150px;
    height:30px;
    margin-left: 500px;
    margin-top: -20px;
    
}
.head h2{
    color:white;
    font-family: serif;
    font-size: 30px;
    font-weight: 200px;
    margin-left:0px;
    margin-top: 30px;
    
    
}
.navbar{ 
    width: 85%;
    margin:auto;
    padding:35px 0;
    display: flex;
    align-items:end;
    justify-content: space-between;
    
    
    
}
.navlist li{
    list-style: none;
    display: inline-block;
    margin:0 8px;
    position: relative;

    font-size: -10px;
    margin-top: 20px;
    

}
.navlist li ::after{
    content: '';
    height:3px;
    width:0;
    background: #a2d2cd;
    position:absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;

}
.navlist li :hover::after{
    width:100%;

}
.navlist li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 20px;

}
 button{
    margin-top: 20px;
    width:90px;
    height:30px;
    background-color: rgb(244, 220, 220);
    border: 1px,solid;
    border-radius: 5px;
    
    color:rgb(1, 1, 1);
    
    cursor: pointer;
    outline:none;
    

}
.button :hover{
    border-color:rgb(255, 243, 243);
}
